.sidebar {
  width: 250px;
  height: 100vh;
  background: #1d1d89;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.toggle-btn {
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 18px;
}
.toggle-btn:hover{
  background-color: #703d1f;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
